    <div class="col-md-8 col-sm-12">
      <h2>Submit an advertisment!</h2>
      <p>Banner ads are rotated in a series of ten banner ads so you pay for one banner ad at a time. Payment of each banner ad is currently $ 100.00 USD per banner ad per month per country per age category.</p>

		<p>ie: If you wish to advertise in United States for three months in the 12-19 age category and you would like three ads out of the possible ten rotating ads this would total 1,125.00 US dollars for the ads.
		We reserve the right to restrict displaying ads if we deem them to be inappropriate for the advertising audience. Receipt of payment and submission of advertising information by email is no guarantee of banner ads being placed. We review each ad that is submitted on an individual case-by-case study to determine if it is suitable for posting on makeanexam.com. This is a first-come-first-serve basis service.</p>

  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being created:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


      <%= form_for @ad  do |f| %>
        <div>
          <%= f.label :compname, "Company Name" %><br>
          <%= f.text_field :compname, class: 'form-control exam_forms' %>
        </div>
          <div>
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control exam_forms'  %>
		  </div>
        <div>
          <%= f.label :contact, "Contact Person"%><br>
          <%= f.text_field :contact, class: 'form-control exam_forms' %>
         </div>
        <div>
          <%= f.label :phoneno, "Phone Number"%><br>
          <%= f.text_field :phoneno, class: 'form-control exam_forms' %>
         </div>
      <!--    <div>
          <%= f.label :countries, "Countries for ad to appear"%><br>
          <%= f.text_field :countries, class: 'form-control exam_forms' %>
          <p>Make array!</p>
         </div> -->
         <div>
            <%= f.label :countries, "Countries for ad to appear" %><br>
            <%= f.select :countries, ['Canada', 'Australia', 'United Kingdom', 'United States', 'New Zealand', 'Brazil', 'Mexico', 'Germany', 'Japan', 'Rest of the World'],{prompt: "Select Country"},{:multiple => true, class: "form-control exam_forms multi-select"}%>
          </div>
              <div>
            <%= f.label :months, "Months for ad to appear" %><br>
            <% unless @months && @months.length > 1
                  @date = Date.today
                  @months = []
                  (0..11).each do |m|
                    @months << [@date.next_month(m).strftime("%b %Y"), @date.next_month(m).strftime("%b %Y")]
                  end
                end %>


            <%= f.select :months, options_for_select(@months),{prompt: "Select Months"}, {:multiple => true, class: "form-control exam_forms multi-select"} %>
          </div>
         <div>
		    <%= f.label :age %><br />
		    <%= f.select :age, [['K-11 Years Old', 'K-11'], ['12-19 Years Old', '12-19'], ['20+ Years Old', '20+']],{prompt: "Select Age"},{:multiple => true, class: "form-control multi-select exam_forms"}%>
		  </div>
		  <div>
        <br /><br />
        <p>images must be 728x90 px resolution</p> 
        <%= f.label :image %><br>
        <%= f.file_field :image , class: 'form-control exam_forms' %>
      </div>
      <p> Current Ad: </p>
      <div class="ads-wrapper">
       <img id="img_prev"src="#" alt="your image" class="img-thumbnail hidden"/>
       </div><br>
         <div>
          <%= f.label :url, "URL for ad link"%><br>
          <%= f.text_field :url, class: 'form-control exam_forms' %>
         </div>
        <div>
          <%= f.submit "Submit", class: 'form-control exam_forms' %> 
        </div>
      <% end %>
    </div>



<script>
      $(function() {
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
              $('#img_prev').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
          }
        }

        $("#ad_image").change(function(){
          $('#img_prev').removeClass('hidden');
          readURL(this);
        });
  });
</script>