<%= render 'scores/banner_ad' %>

<%= link_to "Back to all exams", examinations_path %><br/>
<% if @score.errors.any? %>
    <div>
      <%= pluralize(@score.errors.count, "error") %> prevented the score from being saved:
      <ul>
        <% @score.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <h2><%= @exam.name %></h2>
    <h3><%= @exam.intro %></h3>

<%= form_for [@exam, @score] do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id  %>
  
    <%= f.fields_for :responses do |res_f| %>

      <h2 class="question_no">Question # <%= res_f.object.question.position %></h2>
      
      <span style="font-size: 30px; font-weight: normal">
        (<%= res_f.object.question.points %> Points)
      </span>
      <hr class="hr_exam">
      <h3><%= res_f.object.question.body %></h3>

     <p><%= res_f.collection_check_boxes :answer_ids, res_f.object.question.answers, :id, :body do |b| %></p>
        <div>
          <%= b.check_box %>
          <%= b.label %>
          <%= res_f.hidden_field :question_id, value: res_f.object.question.id %>

        </div>
      <% end %>

    <% end %>

  </br></br></br></br>  
  <%= f.submit 'Submit', class: "exam_button" %>
<% end %>