
    <%= render 'scores/banner_ad' %>

    <%= link_to "Back to all exams", examinations_path %><br/>


  <% if @score.errors.any? %>
      <div>
        <%= pluralize(@score.errors.count, "error") %> prevented the score from being saved:
        <ul>
          <% @score.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <h2><%= @exam.name %></h2>
      <h3><%= @exam.intro %></h3>
      <% if @percent %>
        <h3> Your Score: <%= @percent.round(0) %>% (<%= @correct_pts %> out of <%= @total_pts %>)</h3>
      <% else %>
        <h3 style="color: red">Error</h3>
      <% end %>
      <% @exam.questions.each_with_index do |ques, i| %>
        <% index = i + 1 %>
        <div style="clear: both; margin-top: 50px;">
          <span class="non_header" style="font-weight: bold;">Question #<%= index %></span>
          <span class="non_header">(<%= ques.points %> Points)</span>
        </div>
          <hr class="hr_exam">
          <h3><%= ques.body.html_safe %></h3>
          <h3>Your Answer:</h3>
          <% res = @score.responses.where(question_id: ques.id).first 
          if res && res.fill_blank && res.fill_blank.length > 0
            fill_blank = res.fill_blank
          elsif res && res.answers && res.answers.length > 0
           ans_multi = res.answers
          elsif res && res.answer
            ans = Answer.find_by(id: res.answer)
          #  ans = "No Answer"
          end %>

           <% if ans_multi && ans_multi.length > 0 %>
            <p><% ans_multi.each do |answ| %>
                <p>(<%= answ.order %>) <%= answ.body %></p>
              <% end %></p>
          <% elsif ans %>    
            <p><%= ans.body %></p>
          <% elsif fill_blank %>    
            <p><%= fill_blank %></p>
          <% else %>
              <p>No Answer</p>
          <% end %>

       
         <% if res && ques.question_type == "Multiple Response"
          multi_correct = []
          res.question.answers.each do |ans|
              multi_correct.push ans.id if ans.correct 
          end
          if multi_correct.sort == res.answer_ids.sort
            response_correct = true
          end

        elsif ques.question_type == "Fill in the blank"
            ans_blank = ques.answers.first.body
            # answer = Answer.find_by(id: ans_id)
            if fill_blank && fill_blank.downcase == ans_blank.downcase
              response_correct = true
            end
        else

          if res && res.answer
            ans_id = res.answer.to_i
            answer = Answer.find_by(id: ans_id)
            if  answer && answer.correct
              response_correct = true
            end
          end
        end %>
      


          <% if res && response_correct%>
            <span class="correct"><%= image_tag "tick.png" %>Correct</span>
          <% else %>
            <span class="incorrect"><%= image_tag "cross.png" %> Incorrect</span>
          
          <% if ques.question_type == "Multiple Response" %>
            <h3>Correct Answers:</h3>
          <% else %>
            <h3>Correct Answer:</h3>
          <% end %>
            <% corr = ques.answers.where(correct: true)
            if corr.length > 0 && ques.question_type == "Multiple Response"
              corr.each do |corr| %>

                <p>(<%= corr.order %>) <%= corr.body %></p>
            <%  end
            elsif corr 
              corr = ques.answers.where(correct: true).first %>
               <p><%= corr.body %></p>
            <%else
             corr = "No Correct Answer Set"
            end %>

          <% end %>



        <% end %>