<%= link_to "Back to all exams", examinations_path %><br/>
<% if @score.errors.any? %>
    <div>
      <%= pluralize(@score.errors.count, "error") %> prevented the score from being saved:
      <ul>
        <% @score.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <h2><%= @exam.name %></h2>
    <h3><%= @exam.intro %></h3>

    <h3> Your Score: <%= @percent %>% (<%= @correct_pts %> out of <%= @total_pts %>)</h3>
    <% @exam.questions.each_with_index do |ques, i| %>
      <% index = i + 1 %>
      <div style="clear: both">
        <span class="non_header" style="font-weight: bold;">Question #<%= index %></span>
        <span class="non_header">(<%= ques.points %> Points)</span>
      </div>
        <hr>
        <h3>Your Answer:</h3>
        <% res = @score.responses.where(question_id: ques.id).first 
        if res
         ans = Answer.where(id: res.answer_id).first.body 
        else
         ans = "No Answer"
        end %>
        <p><%= ans %></p>

        <h3>Correct Answer:</h3>
        <% corr = ques.answers.where(correct: true).first
        if corr
          corr = corr.body
        else
         corr = "No Correct Answer Set"
        end %>

        <p><%= corr %></p>
 



      <% end %>

