

	<div  class= "row"  style= "clear: both;">
	    <hr>
	    <% if @scores.length > 0 %>
		    <% @scores.each do |score| %>



		    <% exam = score.examination
		     res = score.responses
		      correct_res = []
		      correct_pts = 0
		      total_pts = exam.questions.sum(:points)
		      res.each do |res|
		      	if res.answer.correct
		      		correct_res.push res.id
		      		points = res.question.points
		      		correct_pts = correct_pts + points
		      	end
		      @percent = (correct_pts.to_f / total_pts.to_f) * 100  
		      end %>




		      <h2>Exam Name: <%= score.examination.name %></h2>
		      <h3>Date Taken: <%= score.created_at.strftime("%b %d, %Y")  %></h3>
		      <h3> Your Score: <%= @percent %>% (<%= correct_pts %> out of <%= total_pts %>)</h3>
		      <%= button_to "View Score", examination_score_path(exam, score), method: "get", class: "exam_button" %>
		      <hr class="hr_exam">
		    <% end %>
		   </div>

		  <% else %>
		  	<h1>You haven't taken any tests yet</h1>
		  <% end %>
