<div class="container">
            <h2> Makeanexam.com Features</h2>
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th style="width:40%"></th>
                            <th>Classroom</th>
                            <th>Free Users</th>
                            <th>Membership</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Mobile friendly</td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                        </tr>
                        <tr>
                            <td>Different question types (Multiple Choice, Fill in the Blank, Multiple Answers, True or False)</td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                        </tr>
                        <tr>
                            <td>Use Mathjax software </td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                        </tr>
                        <tr>
                            <td>Upload images</td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                        </tr>
                        <tr>
                            <td>Take Exams</td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                        </tr>
                        <tr>
                            <td>Search through exam database</td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                        </tr>
                        <tr>
                            <td>Receive messages</td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                        </tr>
                        <tr>
                            <td>Create exams</td>
                            <td></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                        </tr>
                        <tr>
                            <td>Send Messages</td>
                            <td></td>
                            <td></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                        </tr>   
                        <tr>
                            <td>Access to forums</td>
                            <td></td>
                            <td></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                        </tr>   
                        <tr>
                            <td>Post in Blogs</td>
                            <td></td>
                            <td></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                        </tr>  
                        <tr>
                            <td>Create exams exceeding 50 questions</td>
                            <td></td>
                            <td></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                        </tr>  
                        <tr>
                            <td>Banner ads on profile and exam pages </td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td></td>
                        </tr> 
                        <tr>
                            <td>See when someone has taken your exam </td>
                            <td></td>
                            <td></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                        </tr> 
                        <tr>
                            <td>Detailed reports on exams </td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                        </tr>
                        <tr>
                            <td>Can be used by students, educators, corporations and governments</td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                            <td><%= image_tag "check.png", class: "profile_check" %></td>
                        </tr>                  
                    </tbody>
                </table>
</div>