 <% if @subscription && @subscription.errors.any? %>
    <div>
     <%= pluralize(@subscription.errors.count, "error") %> prevented the question from being saved
      <ul>
        <% @subscription.errors.messages.each do |attr, msg| %>
          <% msg.each do |val| %>
        <li><%= val %></li>
        <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @subscription do |f| %>

<%= f.hidden_field :paypal_customer_token %>
<%= f.hidden_field :paypal_payment_token %>
<%= f.hidden_field :paypal_email %>


<div id="paypal_checkout">
  <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), paypal_checkout_path(user_id: @subscription.user_id) %>
</div>

  <div class="actions">
    <%= f.submit "Subscribe" %>
  </div>
<% end %>