<% ad = @payment.ad %>

	 <% if @payment && @payment.errors.any? %>
	    <div>
	     <%= pluralize(@payment.errors.count, "error") %> prevented the question from being saved
	      <ul>
	        <% @payment.errors.messages.each do |attr, msg| %>
	          <% msg.each do |val| %>
	        <li><%= val %></li>
	        <% end %>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>



           <% ad = @ad %>
      <%= render 'payments/invoice' %>



	<%= form_for @payment do |f| %>

	<%= f.hidden_field :paypal_customer_token %>
	<%= f.hidden_field :paypal_payment_token %>
	<%= f.hidden_field :paypal_email %>
    <%= f.hidden_field :ad_id, value: ad.id %>
    <%= f.hidden_field :amount %>
    <%= f.hidden_field :stripe_card_token %>
    <%= f.hidden_field :cost, value: @total_cost %>


		 
	  <div class="actions">
	    <%= f.submit "Complete Payment", class: "btn btn-success btn-lg btn-block" %>
	  </div>
	<% end %>