<% ad = @payment.ad %>

	 <% if @payment && @payment.errors.any? %>
	    <div>
	     <%= pluralize(@payment.errors.count, "error") %> prevented the question from being saved
	      <ul>
	        <% @payment.errors.messages.each do |attr, msg| %>
	          <% msg.each do |val| %>
	        <li><%= val %></li>
	        <% end %>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>



           <% ad = @ad %>
        <% total_profile = ad.placements.where(page: "Profile").count %>
        <% total_exam = ad.placements.where.not(page: "Profile").count  %>
        <% total_cost = (total_profile * 200 + total_exam * 100) %>

         <div class="row">
                <div class="text-center">
                    <h1>Costs for your ad</h1>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ad.pages.each do |page| %>
                          <% @page_price = page == "Profile" ? 100 : 200 %> 
                          <th colspan="2">Costs for <%= page %> placement</th>
                          <%= render 'payments/table' %>
                           <tr>
                            <td class="col-md-9">Total ad placements for <%= page %> </td>

                            <td class="col-md-1 text-center"><%= number_to_currency(@page_price) %></td>
                            <td class="col-md-1 text-center"><%= page == "Profile" ? total_profile : total_exam %></td>
                            <td class="col-md-1 text-center"><%= number_to_currency(page == "Profile" ? total_profile * 200 : total_exam * 100) %></td>
                        </tr>
                        <% end %>
                        
                       
                  
                        <tr>
         
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right">
                            <p>
                                <strong>Subtotal: </strong>
                            </p>
                            <p>
                                <strong>Tax: </strong>
                            </p></td>
                            <td class="text-center">
                            <p>
                                <strong><%= number_to_currency(total_cost) %></strong>
                            </p>
                            <p>
                                <strong>$0.00</strong>
                            </p></td>
                        </tr>
                        <tr>
                    
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right"><h4><strong>Total: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong><%= number_to_currency(total_cost) %></strong></h4></td>
                        </tr>
                    </tbody>
                </table>
</div>

	<%= form_for @payment do |f| %>

	<%= f.hidden_field :paypal_customer_token %>
	<%= f.hidden_field :paypal_payment_token %>
	<%= f.hidden_field :paypal_email %>
    <%= f.hidden_field :ad_id, value: ad.id %>
    <%= f.hidden_field :amount %>
    <%= f.hidden_field :stripe_card_token %>
    <%= f.hidden_field :cost, value: total_cost %>


		 
	  <div class="actions">
	    <%= f.submit "Complete Payment", class: "btn btn-success btn-lg btn-block" %>
	  </div>
	<% end %>