                      <% ad = @ad %>
                      <% page_price = @page_price %>
                        <tr>
                            <td class="col-md-9">
                            Months Active: 
                            <% if ad.months && ad.months.length > 0 && ad.months.kind_of?(Array) %>

                                <% @ad_months = 0 %>
                                <% months_arr = [] %>
                                <%  ad.months.each do |adv| %>
                                  <% if adv.length > 0 %>
                                    <% @ad_months += 1
                                    months_arr.push(adv) %>
                                    
                                  <%end %>
                                <%end %>
                                <%= months_arr.to_sentence %>
                              <% elsif ad.months %>
                                <% @ad_months = 1 %>
                                <%= ad.months %>
                              <% else %>
                                <% @ad_months = 0 %>
                                None
                              <% end %>
                            </td>

                            <td class="col-md-1 text-center"></td>
                            <td class="col-md-1 text-center"><%= @ad_months %></td>
                            <td class="col-md-1 text-center"></td>
                        </tr>

                        <tr>
                            <td class="col-md-9">
                            Age Range: 
                            <% if ad.age && ad.age.length > 0 && ad.age.kind_of?(Array) %>

                                <% @ad_age = 0 %>
                                <% age_arr = [] %>
                                <%  ad.age.each do |adv| %>
                                  <% if adv.length > 0 %>
                                    <% @ad_age += 1
                                    age_arr.push(adv) %>
                                    
                                  <%end %>
                                <%end %>
                                <%= age_arr.to_sentence %>
                              <% elsif ad.age %>
                                <% @ad_age = 1 %>
                                <%= ad.age %>
                              <% else %>
                                <% @ad_age = 0 %>
                                None
                              <% end %>
                            </td>

                            <td class="col-md-1 text-center"></td>
                            <td class="col-md-1 text-center"><%= @ad_age %></td>
                            <td class="col-md-1 text-center"></td>
                        </tr>
                        <tr>
                            <td class="col-md-9">
                            Gender(s): 
                            <% if ad.gender && ad.gender.length > 0 %>
                             <% unless ad.gender == "both" %>
                                <%= ad.gender.titleize %>
                                <% gender_count = 1 %>
                              <% else %>
                                Male and Female
                                <% gender_count = 2 %>
                              <% end %>
                            <% else %>
                              Error
                            <% end %>
                            </td>

                            <td class="col-md-1 text-center"></td>
                            <td class="col-md-1 text-center"><%= @ad_age %></td>
                            <td class="col-md-1 text-center"></td>
                        </tr>

                         <tr>
                            <td class="col-md-9">
                            Countries: 
                            <% if ad.countries && ad.countries.length > 0 && ad.countries.kind_of?(Array) %>

                                <% ad_countries = 0 %>
                                <% countries_arr = [] %>
                                <%  ad.countries.each do |adv| %>
                                  <% if adv.length > 0 %>
                                    <% ad_countries += 1
                                    countries_arr.push(adv) %>
                                    
                                  <%end %>
                                <%end %>
                                <%= countries_arr.to_sentence %>
                              <% elsif ad.countries %>
                                <% ad_countries = 1 %>
                                <%= ad.countries %>
                              <% else %>
                                <% ad_countries = 0 %>
                                None
                              <% end %>
                            </td>

                            <td class="col-md-1 text-center"></td>
                            <td class="col-md-1 text-center"><%= ad_countries %></td>
                            <td class="col-md-1 text-center"></td>
                        </tr>
                       