<div class="container-fluid content_dashboard">
<%= link_to "Create Ad", new_admin_ad_path, class: "exam_button", style: "width:auto;float: left"  %>
  <br />
  <br />
  <div class="table-responsive" style="clear:both">
    <table class="table table-hover">
      <tr>
        <th>Company Name</th>
        <th>Email</th>
        <th>Status</th>     
        <th>Manage</th>
        <th>Contact Person</th>
        <th>Phone Number</th>

        <th>Countries</th>
        <th>Months Active</th>
        <th>Age Range</th>
        <th>Cost</th>
        <th>Link</th>
        <th>Image</th>
<!--         <th>Sign Up</th>
        <th>Updated</th>
        <th>ID #</th> -->
      </tr>

       <% @ads.each do |ad|  %>
      <tr>
        <td><%= ad.compname %></td>
        <td><%= ad.email %></td>
        <td class="active_link"><%= link_to ad.status.capitalize,   admin_ad_activate_path(ad), data: {confirm: "Are you sure you want to change the status for  #{ad.id}?"} %> </td>
        <td>(<%= link_to "edit", edit_admin_ad_path(ad) %>, <%= link_to "delete", admin_ad_path(ad), method: :delete, data: {confirm: "Are you sure you want to delete #{ad.id}?"} %>)</td>
        <td><%= ad.contact %></td>
        <td><%= ad.phoneno %></td>

        <td>
              <% if ad.countries && ad.countries.length > 0 && ad.countries.kind_of?(Array) %>
                <%  ad.countries.each do |adv| %>
                  <% if adv.length > 0 %>
                    <%= adv %>,
                  <%end %>
                <%end %>
              <% elsif ad.countries %>
                <%= ad.countries %>
              <% else %>
                None
              <% end %>
            </td>
         <td>
              <% if ad.months && ad.months.length > 0 && ad.months.kind_of?(Array) %>
                <%  ad.months.each do |adv| %>
                  <% if adv.length > 0 %>
                    <%= adv %>,
                  <%end %>
                <%end %>
              <% elsif ad.months %>
                <%= ad.months %>
              <% else %>
                None
              <% end %>
            </td>
        <td><% if ad.age && ad.age.length > 0 && ad.age.kind_of?(Array) %>
                <% ad_age = ad.age.count %>
                <%  ad.age.each do |adv| %>
                  <% if adv.length > 0 %>
                    <%= adv %>,
                  <%end %>
                <%end %>
              <% elsif ad.age %>
                <% ad_age = 1 %>
                <%= ad.age %>
              <% else %>
              <% ad_age = 0 %>
                None
              <% end %></td>
        <td><%= number_to_currency((ad.months.count + ad.countries.count + ad.age.count) * 100) %></td>
        <td><%= ad.url %></td>
        <td><%= link_to "View", ad.image_url.to_s %></td>
      </tr>
      <% end %>

    </table>
  </div>

            <hr>
</div>

<script>
  $( function() {
    $('.active_link a').each(function() {
      test = $(this);
      if (test.html() == "Active"){
        test.css("color","green");
      } else {
        test.css("color","red");
      }
    });
  });
</script>