<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

 <h3>Comments for <em><%= @post.title %></em></h3>
    <% if current_user %>
   		<div class="comments">
	      <% @post.comments.each do |comment| %>
	        <p><%= comment.body %></p>

	        <small>published at: <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.firstname %></small><br/>
	      <% end %>
	      <p><%= link_to "Write a comment!", new_post_comment_path(@post) %></p>
	    <% else %>
	      <p>Please <%= link_to "log in", new_user_session_path %> to see reviews and add your own.</p> 
	    <% end %>
	   </div>

<%= link_to "edit", edit_post_path(@post) %>
<%= link_to "back", posts_path %>
