 <%= link_to "Back to all exams", examinations_path %>
    <div class="col-md-8 col-sm-12">
      <h2>Submit an exam!</h2>
      <%= form_for @exam  do |f| %>
        <div>
          <%= f.label :name %><br>
          <%= f.text_field :name, class: 'form-control exam_forms' %>
        </div>
        <div>
          <%= f.label :password, "Password (Optional)"%><br>
        	<%= f.password_field :password, placeholder: "Password", class: 'form-control exam_forms' %>
         </div>
          <div class="form-group">
              <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: 'form-control exam_forms' %>
        	<div>
          <%= f.label :intro, "Description" %><br>
          <%= f.text_area :intro, class: 'form-control', class: 'form-control exam_forms' %>
        </div>
        <div>
          <%= f.submit "Submit", class: 'form-control exam_forms' %> 
        </div>
      <% end %>
    </div>