    <%= link_to "Back to all exams", examinations_path %><br/>

    <h2><%= @exam.name %> (<%= link_to "edit", edit_examination_path(@exam) %>, <%= link_to "delete", examination_path(@exam), method: :delete, data: {confirm: "You sure?"} %>)</h2>
    <h3><%= @exam.intro %></h3>
    <h3><%= @exam.created_at %></h3>
      <h4>Intro: <%= @exam.intro %></h4>

    <h3> <%= @exam.questions.count if @exam.questions.count > 0 %> Questions for: <em><%= @exam.name %></em></h3>
    <% if current_user %>
      <% @exam.questions.each do |question| %>
      	<hr>
      	<p> <%= question.position %> out of <%= @exam.questions.count %> (<%= link_to "edit", edit_examination_question_path(@exam, question) %>, <%= link_to "delete", examination_question_path(@exam, question), method: :delete, data: {confirm: "Are you sure you want to delete  #{question.position}?"} %>)</p>
        <p>Question: <%= question.body %></p>
        <p>Type: <%= question.question_type %></p>
        <p>Points: <%= question.points %></p>
      <% end %>
      <p><%= link_to "add a question!", new_examination_question_path(@exam) %></p>
    <% else %>
      <p>Please <%= link_to "log in", new_session_path %> to see reviews and add your own.</p> 
    <% end %>