    <%= link_to "Back to all exams", examinations_path %><br/>

    <h2><%= @exam.name %></h2>
    <h3><%= @exam.intro %></h3>

    

      <% @exam.questions.each_with_index do |question, i| %>
        <% index = i + 1 %>
        <h2>Question #<%=index%></h2>
        <hr>
        <h3><%= question.body %></h3>
        <% question.answers.each do |ans| %>
          <table>
            <tr>
              <td>radio</td>
              <td><%= ans.body %></td>
            </tr>
          </table>
        <% end %>
      <% end %>
