<!DOCTYPE html>
<html>
  <head>
    <title>Exam</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLIC_KEY"] %>
    <%= favicon_link_tag 'favicon.ico' %>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML">
    </script>

    
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,400,800" rel="stylesheet">

  </head>

  <body>
  	<%= render 'layouts/header' %>
 	<% unless current_location?(controller:'sessions', action:'new')  || current_page?(root_path) || current_page?('/pages/profile')%>
  		<div class="container white">
  	<% end %> 
  	<% if current_page?('/pages/profile') %>
  		<div class="profile-container">
  	<% end %>

		  	<% if notice %>
			  <p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
			  <p class="alert alert-danger"><%= alert %></p>
			<% end %>
			<% if user_signed_in? %>
				<% username = current_user.username ? current_user.username : current_user.firstname %>
			  Logged in as <strong><%= username %></strong>
				<% if upgraded? %>
					  (<span style="color: green">upgraded</span>).
				<% end %>
			  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
			  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
<!-- 			<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
			  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> -->
			
			<% end %>

    	<%= yield %>

    <% unless current_page?(new_user_session_path) %></div><% end %> 
 <%= render 'layouts/footer' %>
       <%= mathjax_tag %>
<script>
  // (function () {
  //  MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
  // });
</script>
  </body>
</html>
